body {
    /* background-color:#0a192f; */
    background-image: linear-gradient(to right, #0a192f 0%,  rgb(36, 60, 94) 25%, #385179 50%, rgb(36, 60, 94) 75%, #0a192f 100%);
    animation: color-transition 10s ease-in-out infinite alternate;
}
@keyframes color-transition {
    0% { background: #0a192f; }
    50% { background: #385179; }
    75% { background: #0a192f; }
    100% { background: #0a192f; }
  }
.flex-container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 30px;
    color: #daddba;
    
}

.flex-container .navbar-brand {
    display: flex;
    font-family: "Monofett", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 165, 0, 1) !important;
    font-size: 50px;
    max-width: 20vw;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    position: fixed;
    margin-top: 50px;
    z-index: 2;
}

.flex-container .welcome {
    align-self: center;
    padding-top: 100px;
    padding-bottom: 150px;
    text-align: right;
    color: #daddba;;
    letter-spacing: 100%;
    font-weight:normal;
    font-family: 'Montserrat Alternates', sans-serif;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}
#author {
    color: rgb(254, 255, 254);
    font-weight: bolder;
}
#skills {
    color: rgb(136, 226, 75);
}

main .flex-container{
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    font-size: 64px;
}
main .flex-container .myworks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
    font-size: 32px;
    font-weight: bold;
    color: bisque;
    height: 80px;
    background: rgb(18, 155, 87);
    border-radius: 15px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    font-family: 'Poppins', sans-serif;
}
.myworks > div {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}


main .shape .project h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(34, 77, 80, 0), rgba(39, 158, 102, 0.8), rgba(34, 77, 80, 0));
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    height: 250px;
    z-index: 2;
    
}
.project > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 3;
}

main .shape .project:nth-child(1) h2 {
    background: linear-gradient(to right, rgba(34, 77, 80, 0), rgba(130, 43, 180, 0.8), rgba(34, 77, 80, 0));
}
main .shape .project:nth-child(3) h2 {
    background: linear-gradient(to right, rgba(34, 77, 80, 0), rgba(240, 92, 195, 0.8), rgba(34, 77, 80, 0));
}
main .shape .project:nth-child(5) h2 {
    background: linear-gradient(to right, rgba(34, 77, 80, 0), rgba(204, 185, 80, 0.76), rgba(34, 77, 80, 0));
}
#texturebg {
    background-color: burlywood;
}
#artbg {
    background-color: burlywood;
}

#parentheses {
    color: rgb(255, 255, 132);
    font-weight: bolder;
}
#curly {
    color: rgb(59, 199, 255);
    font-weight: bolder;
}
#operator1, #operator2 {
    color: rgb(209, 59, 255);
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
}
#operator2 {
    display: none;
}
.bi-palette {
    color:rgb(245, 138, 67) !important;
    margin-right: 10px;
}
.bi-file-earmark-code{
    color:rgb(245, 73, 67) !important;
    margin-right: 10px;
}
.bi-badge-3d-fill {
    color:rgb(218, 202, 58) !important;
    margin-right: 10px;
}


.project:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgba(34, 77, 80, 0), rgba(104, 238, 216, 0.8), rgba(34, 77, 80, 0));

}

.section {
    display: none;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    overflow-y: auto;
    white-space: normal;
    scrollbar-width: none;
    transition: transform 0.3s ease;      
}
.project:hover .section {
    display: flex;
}


main .shape .section::-webkit-scrollbar {
    display: none;
}

.section .card {
    justify-content: center;
    flex: 0 0 auto;
    margin: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    width: 70%;
    height: auto;
    max-width: 60vw;
    min-height: 300px;   
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 1.5px;
    font-size: 16px;
    text-align: center;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease;
    /* overflow: hidden; */
    transform-origin: center;
    overflow-wrap: break-word; /* Wrap the text within the specified dimensions */
}

.card:hover {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
    transform: scale(1.2);
    z-index: 2;
}
.card > a {
    text-decoration: none;
    color: rgb(160, 192, 192);
}
.card > a > img {
    width: 50%;
    border-radius: 15px;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 100vw;
    position: relative;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    top: 15vh;
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contactbutton {
    border-color:rgba(0, 0, 0, 1);
    border-radius: 15px;
    width: 150px;
    max-width: 150px;
    height: 50px;
    background-color: rgb(69, 112, 153);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    text-align: center;
    color: rgb(241, 240, 153) !important;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    text-shadow: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    /* margin-bottom: 100px; */

}

.contactbutton:hover {
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
    color: rgb(49, 45, 45) !important;
    font-weight: bold;
    background-color: rgb(90, 224, 142);
    transform: scale(1.1);
    cursor: pointer;
}

#contactform {
    width: 80vw;
    height: 1100px;
    border-radius: 15px;
    scrollbar-width: none;
    max-width: 490px;
    display: none;
    background-color: #196b91;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));   
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 20px
}
.fa-github{
    font-size: 35px;
    color: #f5f5f5
}
.fa-artstation {
    font-size: 35px;
    color: rgb(0, 195, 255);
}
.fa-linkedin {
    font-size: 35px;
    color: rgb(44, 107, 202);
}
.copy {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    
}
.copy a {
    text-decoration: none;
    color: #71c0ee;
}


@media only screen and (max-width: 1080px) and (max-height: 2000px) {

    main .flex-container {
        font-size: 32px;
        max-width: 80vw;
    }
    main .shape .section .card {
        max-width: 60vw;
        max-height: 60vw;
        width: 60vw;
        margin: 15px;
    }
    main .flex-container .shape .section {
        height: 50vh;
    }
}

@media only screen and (max-height: 1000px) {
    main .flex-container .myworks{
        font-size: 24px;
    }
    .flex-container .navbar-brand {
        font-size: 32px;        
    }
    .flex-container .welcome {
        max-width: 80vw;
        font-size: 24px;
        padding-bottom: 100px;
    }

    main .shape {
        scroll-behavior: smooth;
        width: 90vw;
        align-self: center;
    }

    .section .card {
        width: 200px;
        max-height: 200px;
        margin: 10px;
    }

    .section {
        display: flex;
        flex-direction: row;
        height: 300px;
        overflow-y: auto;
        overflow-x: auto;
    }

    .section .card a img{
        width: 80%;
    }
    
    .project > h2{
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        max-height: 180px;
    }
    #operator1 {
        display: none;
    }
    #operator2 {
        display: flex;
        font-weight: normal;
    }
    .bi-palette {
        margin-right: 5px;
    }
    .bi-file-earmark-code{
        margin-right: 5px;
    }
    .bi-badge-3d-fill {

        margin-right: 5px;
    }
}