/* monofett-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Monofett';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/monofett-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    background-color: rgba(34, 77, 80, 1) !important;
    font-family: 'Poppins', Verdana, sans-serif !important;
}
.flex-container {
    max-width: 80vw;
    margin: 0 auto;
    padding:0 30px;
    color: #daddba;
    
}

.flex-container .navbar-brand {
    display: flex;
    font-family: "Monofett", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 165, 0, 1) !important;
    font-size: 50px;
    max-width: 20vw;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    position: fixed;
    margin-top: 50px;
    margin-left: 50px;
    z-index: 2;
}
.navbar {
    position: fixed !important;
    z-index: 1000;
}

p {
    color: #daddba;
    font-size: 16px;
}
#tutorial{
    display: flex;
}
#maze {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
#solved {
    display: none;
    position: absolute;
    font-family: cursive;
    font-size: 32px;
    text-align: center;
    color: rgb(189, 85, 0);
    z-index: 2;
}

button {
    width: 25vw;
    margin-left: 5px !important;
}
.btnctrls{
    display: none;
}
.workflow {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
    max-width: 70vw;
    padding-top: 50px;
    z-index: 1;
}
.pre {
    align-items: center;
    justify-content: center;
    max-width: 60vw;
    border: 1px solid black;
    background-color: rgb(43, 40, 40);
    color: white;          
}
#miro {
    width: 50vw;
    height: 60vh;
    align-self: center;
}

code {
    color: rgb(170, 230, 230) !important;
    background-color: rgb(43, 40, 40);
    border: 5px solid rgb(43, 40, 40);
}
.comments{
    color: rgb(194, 176, 169);
}

sub {
    font-size: 70% !important;
}

@media only screen and (max-width: 1000px) {
    #tutorial{
        display: none;
    }
    .workflow{
        max-width: 80vw;
    }
    #miro{
        width: 60vw;
    }
    .btnctrls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-bottom: 30px;;
    }
    #solved{
        font-size: 24px;
    }
    p{
        font-size: 14px;
    }
}